* {
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FB6F92;
  text-align: center;
}

nav h1 {
  padding: 15px;
  color: #FFE5EC;
  font-weight: 600;
  font-size: 48px;
}

body {
  background-color: #FFE5EC
}

main {
  display: flex;
  width: 90%;
  margin: 2em auto;
}

main .searchSection {
  width: 25%;
  text-align: center;
  margin-right: 2em;
}

main .searchSection hr {
  width: 95%;
  margin: 1em auto;
}

main .searchSection #citySearch {
  width: 95%;
  margin: 10px auto;
  height: 25px;
  text-align: center;
}

main .searchSection #searchButton {
  color: white;
  background: #FF8FAB;
  width: 95%;
  height: 25px;
}

main .searchSection #history {
  list-style: none;
}

main .searchSection #history li {
  line-height: 2;
}

main .searchSection #history li .historyButton {
  width: 95%;
  background: lightgrey;
}

main .dashboard {
  width: 70%;
 
}

main .dashboard .data {
  border: 1px solid black;
  padding: 10px;
  background-color: #FFC2D1; 
}

main .dashboard .data .cityHeader {
  display: flex;
}

main .dashboard .data .cityHeader img {
  width: 25px;
}

main .dashboard .data ul {
  list-style: none;
}

main .dashboard .forecast {
  margin-top: 1em;
}

main .dashboard .forecast h3 {
  margin: 5px auto;
}

main .dashboard .forecast .cardsContainer {
  display: flex;
  justify-content: space-between;
}

main .dashboard .forecast .cardsContainer .card {
  background: #FFB3C6;
  border: #3d405b solid 1px;
  color: #3d405b;
  width: 19%;
  text-align: center;
  padding: 10px 0;
}

main .dashboard .forecast .cardsContainer .card ul {
  list-style: none;
}

main .dashboard .forecast .cardsContainer .card .cardIcon {
  width: 25px;
}
